/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.03.2015, 22:14:49
    Author     : Colin
*/
body{
    background: #696969;
    font-family: Verdana;
}



  
#container
{
	//margin: 0 auto;
	width: 65%;
	background: #696969;
        margin: 0 17.5%;
        text-align: center;
        box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
        border-width: 1px;
        border-color: black;
        border-style: solid;
}

#header
{
    width: 61.3%;
    position: fixed;
    top: 0;
    background: #ccc;
    background:linear-gradient( #1f547d, white);
    padding: 20px;
    //border-bottom: 1px #696969 solid;
}



#radio-container
{
	float: left;
	width: 90%;
        padding: 0 5%;
	background: white;
}
#radio{
    
    //background: green;
    width: 100%;
    margin: 15% 0 0 0;
    padding: 0.1em 0;
    text-align: center;
}

#label{
    width: 75%;
}

#radio marquee{
    margin: 1em 0;
    width: 30%;
    padding: 1% 1%;
    border: 1px #696969 solid;
}

.PlayButton{
    margin: 0.5em 0;
    padding: 1% 1%;
}

.VoteButton{
    width: 75%;
    text-align: center; 
    padding: 1% 1%;
    margin: 1% 1%;
    
}

#cover{
    height: 256px;
    width: 256px;
}

.RateButton{
    width: 10%;
   // padding: 1% 1%;
    margin: 0.5% 0.1%;
}

#rate, #vote{
    	//height: 25em;
        width: 50%;
}

#rate
{
	float: left;
}

#vote
{
	float: right;
}



#footer
{
        float: bottom;
        bottom: 0;
        width: 61.9%;
        position: fixed;
	clear: left;
	background: #c7d4df;
	text-align: right;
	padding: 1em;
	height: 1%;
        
}
